$map-colors: (
  bg: (
    is-responsive: true,
    default: false,
    modifiers: (
      black: (
        background: var(--black)
      ),
      white: (
        background: var(--white)
      )
    )
  ),
  text: (
    is-responsive: true,
    default: false,
    modifiers: (
      black: (
        color: var(--black)
      ),
      white: (
        color: var(--white)
      )
    )
  ),
);